/** @format */
.disconnect-site__card {
	position: relative;
	padding: 24px;

	@include breakpoint( '<480px' ) {
		max-width: 300px;
	}

	@include breakpoint( '<660px' ) {
		margin-top: 2em;
		max-width: 500px;
	}

	@include breakpoint( '>660px' ) {
		margin-top: 17px;
		max-width: 800px;
	}
}

.disconnect-site__navigation-links {
	text-align: center;
}

.disconnect-site__troubleshooting {
	.card.is-compact {
		padding-left: 48px; /* 24 + 16 + 8 */

		.gridicons-chat,
		.gridicons-refresh {
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 16px;
		}
	}
}
